*{
    margin:0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.grid-section{
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border: 3px dotted greenyellow;
}

.row{
    display: flex;
}

.cell:hover{
    background-color: aqua;
}

button{
    padding: 10px;
    margin: 20px;
    max-height: 50px;
}
